@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

li {
  list-style: none;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #343A40);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, grey);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .myImg-container{
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.myImg-container img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.StripeCheckout span {
  background: #0062CC !important;
  padding-bottom: 33px !important;
  padding-top: 3px !important;
  transition: background linear 0.2s;
}
.StripeCheckout span:hover {
  background: #0063cc41 !important;
}